@use 'variables' as v;







.homeArticle{

    width: calc(102% + (v.$padding-article-width * 1) - 4px);
margin:calc((v.$padding-article-width * -2 - 4px )) calc((v.$padding-article-width * -2 + 4px  )) ;
padding: 0;


}




.headerContainer{
width: 100%;

}



header {
    
    width: 100%;
    height: 100%;
    max-height: 55rem;
    min-height: 35rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
background-color: v.$primary-background-color;
    border-bottom: 2px v.$primary-color dashed;

overflow: hidden;

    .text {
position: absolute;
        z-index: 10;
        font-size: clamp(2rem, 10vw, 15rem);
        background: url("https://images.unsplash.com/photo-1488831861984-179da3647265?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wxMzkwMjd8MHwxfHNlYXJjaHwxMHx8cGxhbnQlMjB0cm9waWNhbHxlbnwwfHx8fDE3MDcwNTcxNTZ8MA&ixlib=rb-4.0.3&q=80&w=100%") no-repeat;
        background-position: bottom right;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
      
    }



    .text-shadow{
        font-size: clamp(2rem, 10vw, 15rem);
        text-shadow: 0.25vw 0px 2px black;
        z-index: 8;
    }

.imageContainer{
    position: absolute;
    width: 30vw;
    z-index: 0;
    right: 2vw;
    max-width: 48rem;
padding: 2vh 0 0 0;


    img{
 
     
  width: 100%;

   
 
    } 
    
}

 


}


.HomeContainer{




    background-color: v.$primary-background-color;

    margin:0;

padding: 0;

    width: 100%;
height: fit-content;


}