@use 'variables' as v;
@use 'mixins';

nav {
  background-color: white;
  background-image: linear-gradient(to right bottom, #f9e5f1, #f4e1f2, #ecddf4, #e3daf6, #d7d8f7, #cedaf9, #c5dbf9, #bcddf7, #bae1f4, #bae4f0, #bee7eb, #c4e9e6);

  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  position: sticky;
  top: 0;
  height: clamp(2rem, 10vh, 3.5rem);

  z-index: 100;
}

ul {
  display: flex;
  justify-content: space-around;
  width: clamp(17rem, 40vw + 1rem, 55rem);

}

li {
  all: unset;


}


  































