@use 'variables' as v;
@use 'mixins';

nav {
 
filter: invert(-100);

  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  position: sticky;
  top: 0;
  height: clamp(2rem, 10vh, 3.5rem);
  z-index: 100;
}

ul {
  display: flex;
  justify-content: space-around;
  width: clamp(17rem, 40vw + 1rem, 55rem);

}

li {
  all: unset;


}


  































