@use 'variables' as v;

.oneAnimalContainer{


    height: fit-content;
    min-height: 95vh;

}
    
    .oneAnimalSection{
        z-index: 10;
height: calc(95vh - 6rem) ;

display: flex;
justify-content: center;
align-items: center;
min-height: 60rem ;
padding:  0;
overflow: hidden;




    } 


 .hello{

padding-top: 2rem;

 }