@use 'variables' as v;

.oneAnimalContainer{


    min-height: 90vh;

}
    
    .oneAnimalSection{
        z-index: 10;
height: calc(100vh - 6rem) ;

display: flex;
justify-content: center;
align-items: center;
min-height: 52rem ;
padding:  0;
overflow: hidden;


    } 


 .hello{
    overflow: hidden;
padding-top: 2rem;

 }