@use 'variables' as v;








.OneAnimalContainer{
height: fit-content;
min-height: 100%;
width: 90%;
font-size: clamp(1rem, 2vw, 1.2rem);
display: flex;
align-items: center;
justify-content: center;
margin: 0 0 0vh 0;
padding: 0;
}